@import './src/css/colors.scss';

.about-section {
    background: $primary-colorBlack;
    height: auto;
    color:$secondary-colorWhite;
    scroll-margin-top: 8rem;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
    margin-bottom: 5em;
}

.tech-row {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    font-size: 1.2em;
    line-height: 1.2;
    font-weight: 700;
    background-color: $third-colorYellow;
    color: $primary-colorBlack;
    margin: 1em 0;
    border-radius: $border-radius;
}

.tech-row p {
    margin: 0 16px 16px 16px;
}
.tech-row h5 {
    margin: 16px 6px 0 16px;
    font-size: 1.2em;
    text-transform:uppercase;
    text-align: center;
}
.about-rows {
    display: flex;
    max-width: 600px;
    font-size: 1.2em;
    line-height: 1.2;
}

.about-section h1 {
    font-size: 3em;
    margin: 1em 0 ;
}

.about-rows img {
    object-fit: scale-down;
    margin: 0 1em;
    align-self:center;
    min-width: 50px;
}

.portrait {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    cursor: pointer;
}

.about-myName {
    display: none;
}

.button-about{
    margin-bottom: 5em;
}

.light-outline {
    color: $third-colorYellow;
    border-color: $third-colorYellow;
}



