@import './src/css/colors.scss';

.contactSection {
    background-color: $third-colorYellow;
    color: $primary-colorBlack;
}

.greeting-text {
    margin: 2em 0;
    font-size: 2em;
}

.contactSection h1 {
    font-size: 3em;
    margin: 0.5em 0 0 0;
}


.contact-segments {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70vw;
}

.links-logo {
    display: flex;
    justify-content: space-between;
}