@import './src/css/colors.scss';

.header {
    background-color: $third-colorYellow;
    color:$secondary-colorWhite;
    padding: 1rem;
    position:fixed;
    width: 100vw;
    z-index: 300;
}

.container {
    max-width: 80vw;
    margin: 0 auto;
}

.navContainer {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.navContainer h1 {
    font-size: 2rem;
    cursor: pointer;
}

.navContainer nav {
    display: flex;
    gap: 1rem;
}

.navContainer button {
    position: relative;
    font-size: 1rem;
    padding: 0;
    cursor: pointer;
    color: #1a1a1a;
    background: none;
    border: none;
}

.navContainer button:not(.activeClass)::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color:$primary-colorBlack;
    left: 0 ;
    bottom: -3px;
    transform: scale(0,1);
    transition: transform 0.25s ease;
    transform-origin: 0 100%;
}

.navContainer button:not(.activeClass):hover::before {
    transform: scale(1,1);
}

.navContainer button.activeClass::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color:$primary-colorBlack;
    bottom: -3px;
    left: 0;
}

.logo {
    color: $primary-colorBlack;
}

@media only screen and (max-width: 760px) {

    .header {
        padding: 0;
    }
    
    .navContainer{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        display: none;
    }
}