

 /* SECTIONS  */


  
  .awards-section {
    display: flex;
    align-self: flex-start;
    color: #FFDE68;
    margin:0; 
    
  }
  
  .awards-section div {
    display: flex;
    padding: .5em .5em 0 .5em;
    text-align: center;
  }
   .awards-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1em;
    }
  
    .awards-section h5 {
      font-weight: 500;
      font-size: 1em;
      margin: 0;
    }

  
  .workSection {
    display: flex;
    flex-direction: column;
    margin: 4em auto;
    width: 70vw;
    height:auto;
    padding: 4em 0;
  }


  
    .align-hedline {
      display: flex;
      margin: 0;
      align-items: center;
      justify-content: space-between;
      width: 70vw;
    }

    .headline-worksection {
      display: flex;
      align-self: start;
    }
  
  
    .headline-worksection h1{
      font-size: 3em;
      margin: 0;
      text-transform: uppercase;
    }
  
    .headline-worksection h3{
      font-size: 1.5em;
      font-weight: 400;
      font-style: italic;
      margin: 0.5em 0;
    }
  
    .content-workSection {
      display: flex;
      flex-direction: row;
    }
   
  
    .bread-texts {
      display: flex;
      flex-direction: column;
      width: 80%;
    }

    .bread-texts p {
      margin-bottom: 2em;
    }

    .links-Section {
      margin: 2em 0;
    }
  
  /* IMAGES */
  
    .projectImg {
      max-width: 550px;
      max-height: 400px;
      object-fit: cover;
      margin: 0 auto;
    }
    .git-logo {
        margin: 0 1em;
        width: 30px;
    }
  
  
    /* LISTS */
  
    .noListStyle {
      list-style: none;
    }
    
    .technicsList {
      margin: 1em;
      padding: 0;
    }
    .technicsList li {
      margin: .5 em 0;
    }
    
     /* LINKS */

  .links-section {
    display: flex;
    /* flex-direction: row; */
    /* margin-top: 2em; */
  }
  .links-section a {
    margin: .5em 1em 1em 0;
  }
  .links-section button {
    position: relative;
    margin: 0 1em 0 0;
    font-size: 1rem;
    padding: 0;
    cursor: pointer;
    color: #ffffff;
    background: none;
    border: none;
  }
  
  .links-section button::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color:#ffffff;
    left: 0 ;
    bottom: -3px;
    transform: scale(0,1);
    transition: transform 0.25s ease;
    transform-origin: 0 100%;
  }
  
  .links-section button:hover::before {
    transform: scale(1,1);
  }
  
  .projectLink{
    font-weight: 700;
    padding: .2em;
    text-decoration: none;
   
    transition: transform 0.25s ease;
    
  }

  .projectLink:hover {
    transform: scale(1,1);
  }

 
  
  
  