@import './colors.scss';

 /* SECTIONS  */

  .awards-section {
    display: flex;
    align-self: flex-start;
    color: $third-colorYellow;
    margin:0; 
  }
  
  .awards-section div {
    display: flex;
    padding: .5em .5em 0 .5em;
    text-align: center;
  }
   .awards-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1em;
    }
  
    .awards-section h5 {
      font-weight: 500;
      font-size: 1em;
      margin: 0;
    }
  
  .workSection {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70vw;
    height:auto;
    padding: 4rem 0 8rem 0; 
    scroll-margin-top: 8rem;
  }

    .align-hedline {
      display: flex;
      margin: 0;
      align-items: center;
      justify-content: space-between;
      width: 70vw;
    }

    .headline-worksection {
      display: flex;
      align-self: start;
    }
  
  
    .headline-worksection h1{
      font-size: 3em;
      margin: 0;
      text-transform: uppercase;
    }
  
    .headline-worksection h3{
      font-size: 1.5em;
      font-weight: 400;
      font-style: italic;
      margin: 0.5em 0;
    }
  
    .content-workSection {
      display: flex;
      flex-direction: row;
    }
   
  
    .bread-texts {
      display: flex;
      flex-direction: column;
      line-height: 1.2em;
      width: 90%;
    }

    .bread-texts p {
      margin: 0 0 1em 0;
    }
    .bread-texts h3 {
      margin: .5em 0;
    }

    .links-Section {
      margin: 2em 0;
    }
  
  /* IMAGES */
  
    .projectImg {
      max-width: 650px;
      max-height: 500px;
      object-fit: cover;
      margin: 0 auto;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
      border-radius:$border-radius;
    }
    .git-logo {
        margin: 0 1em;
        width: 35px;
    }
      .dark {
        filter: brightness(.15) saturate(0%);
      }
  
  
    /* LISTS */
  
    .noListStyle {
      list-style: none;
      padding: 0;
    }
    
    .technicsList {
      margin: 0em 0 2em 1em;
      padding: 0;
    }
    .technicsList li {
      margin: .5 em 0;
    }
    
     /* LINKS */

  .links-section {
    display: flex;
    flex-direction: row; 
    place-items: center;
    margin-top: 2em; 
  }

  .links-section button {
    position: relative;
    margin: 0 1em 0 0;
    font-size: 1rem;
    padding: 0;
    cursor: pointer;
    color: $secondary-colorWhite;
    background: none;
    border: none;
  }
  
  .links-section button::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color:$secondary-colorWhite;
    left: 0 ;
    bottom: -3px;
    transform: scale(0,1);
    transition: transform 0.25s ease;
    transform-origin: 0 100%;
  }
  
  .links-section button:hover::before {
    transform: scale(1,1);
  }
  
  .projectLink {
    font-weight: 700;
    padding: .5em;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2em;
    border-radius: $border-radius;
    transition: all 0.25s ease;
  }

  .projectLink:hover {
    transform: scale(1.1);
  }

 
  
  
  