@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
  transition: all 0.25s ease-out;
}

:root {
  font-family: 'Karla', sans-serif;
  line-height: 1;
  font-weight: 400;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  transition: all .4s ease;
}

a:hover {
  color: #535bf2;
}

.logoLink {
  transition: all .4s ease;
}

.logoLink:hover {
  transform: scale(1.5);
}

.projectLink {
  font-weight: 500;
  font-size: 1.5em;
  color: #FFDE68;
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
}

button {
  font-family: inherit;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.secondary-section {
  background-color: #FFDE68;
}

.awards-section {
  display: flex;
  color: #FFDE68;
}

.awards-section div {
  display: flex;
  padding: 1em;
}
.awards-section h5 {
  margin: .5em;
}

.workSection {
  display: flex;
  flex-direction: column;
  
  margin: 1em auto;
  width: 70vw;
}

.content-workSection {
  display: flex;
  flex-direction: row;
}

.content-workSection div {
  color: #ffffff;
  max-width: 500px;
}

.bread-texts {
  display: flex;
  flex-direction: row;
}

.underline {
  border-bottom: .5px solid #ffffff;
}

.paragraphSection {
  width: 80vw;
  color: #1a1a1a;
}

/* IMAGES */

  .projectImg {
    width: 400px;
    height: 300px;
    object-fit: cover;
  }

  .gitLogo {
    width: 20px;
  }

  .twig {
    width: 1em;
    object-fit:scale-down;
    /* margin: 1em; */
  }
  .mirrored {
    transform: scaleX(-1)
  }
  /* LISTS */

  .noListStyle {
    list-style: none;
  }
  
  .technicsList {
    margin: 1em;
    padding: 0;
  }
  .technicsList li {
    margin: .5 em 0;
  }
  
.linksSection {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}
.linksSection a {
  margin: .5em 1em 1em 0;
}
.linksSection button {
  position: relative;
  margin: 0 1em 0 0;
  font-size: 1rem;
  padding: 0;
  cursor: pointer;
  color: #ffffff;
  background: none;
  border: none;
}

.linksSection button::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color:#ffffff;
  left: 0 ;
  bottom: -3px;
  transform: scale(0,1);
  transition: transform 0.25s ease;
  transform-origin: 0 100%;
}

.linksSection button:hover::before {
  transform: scale(1,1);
}



@media only screen and (max-width: 760px) {
  
  .workSection {
    margin-top: 15em;
    scroll-margin-top: 50px;
  }
  .content-workSection {
    flex-direction:column-reverse;
  }
  .awards-section {
    flex-direction: column;
    align-items: center;
  }
  .awards-section div {
    margin: 0;
    
    padding: .2em;
  }
  .bread-texts {
   flex-direction: row-reverse;
  }
  .bread-texts p {
    margin: 1em 1em 0 0 ;
  }
  .technicsList {
    /* display: flex;
    justify-content:space-around;
    list-style-type:none;
    margin: 1em; */
    display: inline;
    float: right;
    margin: .5em;
  }
 
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
